* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Ruge Boogie', cursive;
}

header {
  height: 100vh;
  background: url("https://thumbs.gfycat.com/IdolizedHarmfulBeetle-small.gif");

  /* align the items inside the header div */
  text-align: right;
  margin-top: 10vh;
}

.openingVideo {
  /* CSS for opening Video */
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background: black;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 10vh;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav li {
  overflow: hidden;
  height: 25px;
}
nav a:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid white;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

#one,
#two,
#three {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#one {
  background: #CE8054;
}
#two {
  background: #B35340;
}
#three {
  background: #6F3637 ;
}

a.active::after {
  transform: translateX(0%);
}



.card-container {
  display: grid;
  /* There will be 3 columns, each 200px wide */
  grid-template-columns: 200px 200px 200px;
  /* There will be 2 rows, each 250px high */
  grid-template-rows: 250px 250px;
  justify-content: center;
  grid-gap: 5em;
  height: 600px;
  padding: 1em;
}

.cards {
  background-color: white;
}

.cards img {
  object-fit: cover;
  width: 100%;
  height: 75%;
}
